/* body {
    background-color: antiquewhite;
}
 */


 .navbar {
    height: 5rem;
    background-color: white;
 }

 .fa-compass{
    color: #fe424d;
    font-size: 2rem;
 }

 .nav-link {
    color: #222222 !important;
 }

 .footer {
  background-color: #f2f2f2;
}

.footer i {
  font-size: 18px;
}

.footer a:hover {
  text-decoration: none;
  opacity: 0.7;
}
.listing-card {
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.listing-card:hover {
  transform: translateY(-5px);
}

.listing-img {
  height: 220px;
  object-fit: cover;
}

.card-body h6 {
  font-weight: 600;
}
form {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

label {
  font-weight: 600;
}
form {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

label {
  font-weight: 600;
}
.listing-show-img {
  height: 320px;
  width: 100%;
  object-fit: cover;
}



#map {
  height: 350px;
    width: 100%;
    border-radius: 10px;
} 
.popup-card {
  width: 240px;
  border-radius: 12px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background: #fff;
}

.popup-img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.popup-body {
  padding: 10px;
}

.popup-body h6 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: #222;
}

.popup-body p {
  margin: 4px 0;
  font-size: 13px;
  color: #555;
}

.popup-price {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.mapboxgl-popup-content {
  padding: 0;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.mapboxgl-popup-close-button {
  display: none;
}

.button-box {
  width: 20px;       /* CHANGE THIS VALUE AS YOU LIKE */
}


